<div class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="box">
                        <div class="field">
                            <label for="name" class="label">Name</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input" name="name" placeholder="Name" formControlName="name">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="username" class="label">Username</label>
                            <div class="control has-icons-left">
                                <input type="text" class="input" name="username" placeholder="Username" formControlName="username">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="email" class="input" name="email" placeholder="Email" formControlName="email">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" class="input" name="password" placeholder="Password" formControlName="password">
                                <span class="icon is-small is-left">
                                    <fa-icon [icon]="faKey"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" [disabled]="!registerForm.valid" class="button is-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>